# Case Titanic

## Importando Bibliotecas

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pylab 
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

## Importando Arquivos

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

## Estudando Vari√°veis

In [3]:
def convert_sex(sex):
    if sex == 'female':
        return 1
    else:
        return 0

In [4]:
train['Sex_Bin'] = train['Sex'].map(convert_sex)
test['Sex_Bin'] = test['Sex'].map(convert_sex)

In [5]:
train['Miss_Name'] = train['Name'].str.contains("Miss").astype(int)
train['Mrs_Name'] = train['Name'].str.contains("Mrs").astype(int)
train['Master_Name'] = train['Name'].str.contains("Master").astype(int)
train['Col_Name'] = train['Name'].str.contains("Col").astype(int)
train['Major_Name'] = train['Name'].str.contains("Major").astype(int)
train['Mr_Name'] = train['Name'].str.contains("Mr").astype(int)
train['S_Embarked'] = (train['Embarked'] == 'S').astype(int)
train['C_Embarked'] = (train['Embarked'] == 'C').astype(int)


test['Miss_Name'] = test['Name'].str.contains("Miss").astype(int)
test['Mrs_Name'] = test['Name'].str.contains("Mrs").astype(int)
test['Master_Name'] = test['Name'].str.contains("Master").astype(int)
test['Col_Name'] = test['Name'].str.contains("Col").astype(int)
test['Major_Name'] = test['Name'].str.contains("Major").astype(int)
test['Mr_Name'] = test['Name'].str.contains("Mr").astype(int)
test['S_Embarked'] = (test['Embarked'] == 'S').astype(int)
test['C_Embarked'] = (test['Embarked'] == 'C').astype(int)

test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_Bin,Miss_Name,Mrs_Name,Master_Name,Col_Name,Major_Name,Mr_Name,S_Embarked,C_Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0,0,0,0,0,0,1,0,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,1,0,1,0,0,0,1,1,0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0,0,0,0,0,0,1,0,0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0,0,0,0,0,0,1,1,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1,0,1,0,0,0,1,1,0

In [6]:
var = ['Sex_Bin', 'Age', 'Pclass', 'SibSp', 'Parch', 'Fare', 'S_Embarked', 'C_Embarked',
             'Miss_Name', 'Mrs_Name',
             'Master_Name', 'Col_Name', 'Major_Name', 'Mr_Name']

## Analisando os Gr√°ficos

## Implementando o Modelo

In [7]:
cv = RepeatedKFold(n_splits=10,n_repeats=10, random_state=1234)

X = train[var].fillna(-1)
y = train['Survived']

model = LogisticRegression()

scores = cross_val_score(model,X,y,cv=cv,n_jobs=-1)

print('Accuracy: %.4f' % (np.mean(scores)))

Accuracy: 0.8219

In [8]:
model.fit(X, y)

p = model.predict(test[var].fillna(-1))

C:\Users\inlim\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

## Gerando o arquivo de submiss√£o

In [9]:
sub = pd.Series(p,index=test['PassengerId'], name='Survived')
sub.shape

(418,)

In [10]:
sub.to_csv("submission.csv", header=True)